extends layout

block content
  .bottom-container
    h1.congratz-txt Let grow some plants
    button#study-btn.study-btn Study
    button#plant-btn.plant-btn Plant
    button#logout-btn.enter-btn(style="margin-top: 20px; width: 100px; height: 35px;") Logout

block scripts
  script(src="/js/menu.js")
