extends layout

block content
  .bottom-container
    h1.register-txt Register
    form#register-form
      label(for="username") Username
      input#username(type="text", placeholder="Username")
      label(for="password") Password
      input#password(type="password", placeholder="Password")
      label(for="confirm-password") Re-enter password
      input#confirm-password(type="password", placeholder="Re-enter password")
      button.enter-btn.tap-txt(type="submit") Enter

    a(href="/login") Log in!

block scripts
  script(src="/js/register.js")
